<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtc433.dao.InquiryMapper">
  <resultMap id="BaseResultMap" type="com.wtc433.domain.Inquiry">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ishopname" jdbcType="VARCHAR" property="ishopname" />
    <result column="idescription" jdbcType="VARCHAR" property="idescription" />
    <result column="itime" jdbcType="VARCHAR" property="itime" />
    <result column="iusername" jdbcType="VARCHAR" property="iusername" />
    <result column="iprice" jdbcType="VARCHAR" property="iprice" />
    <result column="istate" jdbcType="VARCHAR" property="istate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ishopname, idescription, itime, iusername, iprice, istate
  </sql>
  <select id="selectByExample" parameterType="com.wtc433.domain.InquiryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inquiry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inquiry
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inquiry
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wtc433.domain.InquiryExample">
    delete from inquiry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wtc433.domain.Inquiry">
    insert into inquiry (id, ishopname, idescription, 
      itime, iusername, iprice, 
      istate)
    values (#{id,jdbcType=INTEGER}, #{ishopname,jdbcType=VARCHAR}, #{idescription,jdbcType=VARCHAR}, 
      #{itime,jdbcType=VARCHAR}, #{iusername,jdbcType=VARCHAR}, #{iprice,jdbcType=VARCHAR}, 
      #{istate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wtc433.domain.Inquiry">
    insert into inquiry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ishopname != null">
        ishopname,
      </if>
      <if test="idescription != null">
        idescription,
      </if>
      <if test="itime != null">
        itime,
      </if>
      <if test="iusername != null">
        iusername,
      </if>
      <if test="iprice != null">
        iprice,
      </if>
      <if test="istate != null">
        istate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ishopname != null">
        #{ishopname,jdbcType=VARCHAR},
      </if>
      <if test="idescription != null">
        #{idescription,jdbcType=VARCHAR},
      </if>
      <if test="itime != null">
        #{itime,jdbcType=VARCHAR},
      </if>
      <if test="iusername != null">
        #{iusername,jdbcType=VARCHAR},
      </if>
      <if test="iprice != null">
        #{iprice,jdbcType=VARCHAR},
      </if>
      <if test="istate != null">
        #{istate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wtc433.domain.InquiryExample" resultType="java.lang.Long">
    select count(*) from inquiry
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inquiry
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ishopname != null">
        ishopname = #{record.ishopname,jdbcType=VARCHAR},
      </if>
      <if test="record.idescription != null">
        idescription = #{record.idescription,jdbcType=VARCHAR},
      </if>
      <if test="record.itime != null">
        itime = #{record.itime,jdbcType=VARCHAR},
      </if>
      <if test="record.iusername != null">
        iusername = #{record.iusername,jdbcType=VARCHAR},
      </if>
      <if test="record.iprice != null">
        iprice = #{record.iprice,jdbcType=VARCHAR},
      </if>
      <if test="record.istate != null">
        istate = #{record.istate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inquiry
    set id = #{record.id,jdbcType=INTEGER},
      ishopname = #{record.ishopname,jdbcType=VARCHAR},
      idescription = #{record.idescription,jdbcType=VARCHAR},
      itime = #{record.itime,jdbcType=VARCHAR},
      iusername = #{record.iusername,jdbcType=VARCHAR},
      iprice = #{record.iprice,jdbcType=VARCHAR},
      istate = #{record.istate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wtc433.domain.Inquiry">
    update inquiry
    <set>
      <if test="ishopname != null">
        ishopname = #{ishopname,jdbcType=VARCHAR},
      </if>
      <if test="idescription != null">
        idescription = #{idescription,jdbcType=VARCHAR},
      </if>
      <if test="itime != null">
        itime = #{itime,jdbcType=VARCHAR},
      </if>
      <if test="iusername != null">
        iusername = #{iusername,jdbcType=VARCHAR},
      </if>
      <if test="iprice != null">
        iprice = #{iprice,jdbcType=VARCHAR},
      </if>
      <if test="istate != null">
        istate = #{istate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wtc433.domain.Inquiry">
    update inquiry
    set ishopname = #{ishopname,jdbcType=VARCHAR},
      idescription = #{idescription,jdbcType=VARCHAR},
      itime = #{itime,jdbcType=VARCHAR},
      iusername = #{iusername,jdbcType=VARCHAR},
      iprice = #{iprice,jdbcType=VARCHAR},
      istate = #{istate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
      <select id="findAll" resultMap="BaseResultMap">
  	select * from inquiry ORDER BY id DESC
  </select>
  
  <select id="findAllUserAndInquiry" resultType="com.wtc433.domain.InquiryExt">
  	SELECT user.`name`,user.`username`,user.`college`,
	user.`iconpath`,inquiry.`ishopname`,inquiry.`iprice`,
	inquiry.`idescription`,inquiry.`itime`,inquiry.`id`
	FROM user,inquiry
	WHERE user.`username` = inquiry.`iusername` 
  </select>
    <select id="findAllUserAndInquiryByinquiryId" parameterType="java.lang.Integer"   resultType="com.wtc433.domain.InquiryExt">
    	SELECT user.`name`,user.`username`,user.`college`,user.telephone,
	user.`iconpath`,inquiry.`ishopname`,inquiry.`iprice`,
	inquiry.`idescription`,inquiry.`itime`,inquiry.`id` AS inquiryid
	FROM user,inquiry
	WHERE user.`username` = inquiry.`iusername` AND inquiry.id = #{inquiryid}
  </select>
</mapper>