<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
		
		<context:component-scan base-package="com.wtc433"></context:component-scan>
		
	<!-- 第一步：配置数据源 -->
	 <!-- <context:property-placeholder location="classpath:jdbc.properties" /> -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"   destroy-method="close">
		<property name="url" value="jdbc:mysql://123.56.223.17:3306/taoschool?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123"></property>
			<!-- 初始化连接大小 -->
		<property name="initialSize" value="0"></property>
		<!-- 连接池最大数量 -->
		<property name="maxActive" value="20"></property>
		<!-- 连接池最大空闲 -->
		<property name="maxIdle" value="20"></property>
		<!-- 连接池最小空闲 -->
		<property name="minIdle" value="1"></property>
		<!-- 获取连接最大等待时间 -->
		<property name="maxWait" value="60000"></property>
		<property name="validationQuery" value="select current_date()" />  
        <property name="testOnBorrow" value="false" />  
        <property name="testOnReturn" value="false" />  
        <property name="testWhileIdle" value="true" />  
        <property name="removeAbandoned" value="true" />  
        <property name="removeAbandonedTimeout" value="90" />  
        <property name="logAbandoned" value="false" />  
        <property name= "timeBetweenEvictionRunsMillis" value="30000" />    
        <property name= "numTestsPerEvictionRun" value="30" />    
        <property name="minEvictableIdleTimeMillis" value="1800000" />
	</bean>
<!-- <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"          
        destroy-method="close">          
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />         
    <property name="url" value="jdbc:mysql://localhost:3309/sampledb" />         
    <property name="username" value="root" />         
    <property name="password" value="1234" />         
</bean>     -->
	<!-- 第二步：创建sqlSessionFactory。生产sqlSession -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"></property>
	<property name="configLocation" value="classpath:sqlMapConfig.xml"></property>
	</bean>
	<!-- 配置mybatis接口代理开发
		* 接口类名和映射文件必须同名
		*　接口类和映射文件必须在同一个目录　下
		* 映射文件namespace名字必须是接口的全类路径名
		*　接口的方法名必须和映射Statement的ｉｄ一致
	 -->
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	 <property name="basePackage" value="com.wtc433.dao"></property>
	 <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	 </bean>
	

	<!-- 第三步：事务 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 配置通知 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
	<tx:attributes>
	<tx:method name="save*" propagation="REQUIRED" />
	<tx:method name="update*" propagation="REQUIRED" />
	<tx:method name="delete*" propagation="REQUIRED" />
	<tx:method name="insert*" propagation="REQUIRED" />
	<tx:method name="*" propagation="REQUIRED" />	
	</tx:attributes>
	
	</tx:advice>
	
	<!-- 配置拦截service -->
<aop:config>
	<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.wtc433.service.*.*(..))"/>
	</aop:config> 
	
</beans>